<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login Page</h2>
<p th:text="'You are logging in from: ' + ${deviceType}"></p>

<div th:if="${errorMsg}" class="alert alert-danger" th:text="${errorMsg}"></div>

<form th:action="@{/login-check}" method="post">
    <label>Username:</label>
    <input type="text" name="username" /><br/>
    <label>Password:</label>
    <input type="password" name="password" /><br/>
    <button type="submit">Login</button>
</form>
</body>
</html>

